.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: var(
    --color-primary
  );
}

.auth-buttons
  button {
  margin-left: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  color: var(
    --color-light
  );
  background-color: var(
    --color-accent
  );
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color
    0.3s;
}

.auth-buttons
  button:hover {
  background-color: var(
    --color-secondary
  );
}

.content {
  padding: 2em;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2em;
}

.section:nth-child(
    even
  ) {
  flex-direction: row-reverse;
}

.section img {
  width: 100%;
  max-width: 300px;
  margin: 1em;
}

.text {
  flex: 1;
  padding: 1em;
}
